body {
  margin: 0;
  padding: 0;
  height: 700vh;
  font-family: var(--main-font-family);
  width: 1024px;
}

.themeslorem {
  width: 322px;
  height: 52px;
  left: 150px;
  top: 836px;

  font-family: "roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: center;

  color: #696969;
}
.themes {
  display: flex;
  gap: 25px;
}
h3 {
  text-align: center;
}
.themecircle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  left: 251px;
  top: 650px;

  background: #2ecc71;
}
.thc1 {
  background-image: url(./icon1.png);
  background-repeat: no-repeat;
  align-items: center;
}
.themecon {
  align-items: center;
}
.thc2 {
  background-image: url(./icon.png);
  background-repeat: no-repeat;
  align-items: center;
}
.thc3 {
  background-image: url(./Vector.png);
  background-repeat: no-repeat;
}

/*синя коробочка, початок*/
.getnot {
  background: #dae0e5;
  width: 1024px;
  left: 0px;
  padding: 50px;
  padding-left: 100px;
}
.getnotlorem {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #696969;
}
.getnotph {
  background-image: url(./video.png);
  width: auto;
  height: auto;
}
/*синя коробочка, кінець*/
